[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
boto3 = "*"
django-filter = "*"
django-storages = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
