.header {
  width: 1440px;
  height: 48px;
  flex-grow: 0;
  margin: 0 0 73px;
  padding: 11px 209px 10px 208px;
  background-color: #1a254c;
}

/* .header h1 {
    display: inline-block;
    margin-right: 150px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
  } */





.eAuction {
  width: 81px;
  height: 23px;
  flex-grow: 0;
  margin: 1px 30px 3px 0;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.eAuction .text-style-1 {
  color: #eb6440;
}

.About {
  width: 38px;
  height: 16px;
  flex-grow: 0;
  margin: 6px 50px 5px 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.All-Auction-Items {
  width: 107px;
  height: 16px;
  flex-grow: 0;
  margin: 5px 30px 6px 50px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.Sell {
  width: 23px;
  height: 16px;
  flex-grow: 0;
  margin: 5px 40px 6px 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.Login {
  width: 35px;
  height: 16px;
  flex-grow: 0;
  margin: 6px 0 5px 7px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: rgba(255, 255, 255, 0.9);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  padding: 10px;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: 200px;
  grid-gap: 120px;
  justify-content: center;
  padding-top: 100px;
}

.item {
  display: flex;
  flex-direction: column;

  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.details {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.5em;
}

.image {
  border: 2px solid black;
  height: 250px;

  width: 250px;
}

.item h2 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px #ccc;
}

.item hr {
  width: 60%;
  margin: 20px auto;
  border: 1px solid #ccc;
}

.item .price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.item .bids {
  font-size: 14px;
  color: #ccc;
  margin-top: 10px;
}

.row {
  display: flex;
}

.camera {
  height: 100%;
  width: 100%;
  border: none;
}
