.header {
  width: 1600px;
  height: 48px;
  flex-grow: 0;
  margin: 0 0 73px;
  padding: 11px 209px 10px 208px;
  background-color: #1a254c;
  display: flex;
  justify-content: space-between;
}


.eAuction {
  width: 81px;
  height: 23px;
  flex-grow: 0;
  margin: 1px 30px 3px 0;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.eAuction .text-style-1 {
  color: #eb6440;
}

.About {
  width: 38px;
  height: 16px;
  flex-grow: 0;
  margin: 6px 50px 5px 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.All-Auction-Items {
  width: 107px;
  height: 16px;
  flex-grow: 0;
  margin: 5px 30px 6px 50px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.Sell {
  width: 23px;
  height: 16px;
  flex-grow: 0;
  margin: 5px 40px 6px 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.Login {
  width: 35px;
  height: 16px;
  flex-grow: 0;
  margin: 6px 0 5px 7px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: rgba(255, 255, 255, 0.9);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  padding: 10px;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

h1 {
  font-size: 2em;
  padding-left: 550px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #eee; /* Add a light grey border */
}

th,
td {
  border: none;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f8c291;
  color: #fff;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5b7b1;
}
