.header {
  width: 1440px;
  height: 48px;
  flex-grow: 0;
  margin: 0 0 73px;
  padding: 11px 209px 10px 208px;
  background-color: #1a254c;
}

/* .header h1 {
      display: inline-block;
      margin-right: 150px;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 20px;
    } */

.eAuction {
  width: 81px;
  height: 23px;
  flex-grow: 0;
  margin: 1px 30px 3px 0;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.eAuction .text-style-1 {
  color: #eb6440;
}

.About {
  width: 38px;
  height: 16px;
  flex-grow: 0;
  margin: 6px 50px 5px 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.All-Auction-Items {
  width: 107px;
  height: 16px;
  flex-grow: 0;
  margin: 5px 30px 6px 50px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.Sell {
  width: 23px;
  height: 16px;
  flex-grow: 0;
  margin: 5px 40px 6px 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.Login {
  width: 35px;
  height: 16px;
  flex-grow: 0;
  margin: 6px 0 5px 7px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: rgba(255, 255, 255, 0.9);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  padding: 10px;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

h1 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}

.big-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sell-upload {
  width: 450px;
  height: 300px;
  border: 2px dotted darkgrey;
  padding: 5%;

  justify-content: center;
}

.sell-upload-text {
  text-align: center;
}

.small-upload {
  display: flex;
}

.square-upload {
  border: 2px solid black;
  width: 100px;
  height: 50px;
  border: 2px dotted darkgrey;
  padding: 5%;
}

.title-container {
  text-align: left;
}
/* 
.Rectangle-52,
.Rectangle-33 {
  width: 345px;
  height: 50px;
  flex-grow: 0;
  margin: 25px 0 0 330px;
  padding: 17px 244px 18px 32px;
  border-radius: 5px;
  background-color: #ebf1f8;
  padding: 0 0 0px;
} */

input[type="title"] {
  width: 50%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
  outline: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  border: none;
}

.dropdown-menu {
  width: 50%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
  outline: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  border: none;
}

.description-field {
  width: 50%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
  outline: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  border: none;
}

.radio-group {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

input[type="radio"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid gray;
  appearance: none;
  -webkit-appearance: none;
}

input[type="radio"]:checked {
  background-color: darkblue;
}

label {
  font-size: 14px;
}

.subsubheading {
  font-size: 14px;
}

.duration {
  width: 20%;
  height: 80%;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
  outline: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  border: none;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  font-size: 16px;
  box-sizing: border-box;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.Rectangle-34 {
  background-color: orange;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
  margin: 20px;
}

.big-box {
  justify-content: center;
}
.Rectangle-52 {
  margin-left: 600px;
}
