/* nav bar */
body {
  margin: 0;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
}
.topnav {
  background-color: #1a254c;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 250px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

.centre-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: #f2f2f2;
  width: 80%;
  margin: 10px 0;
  padding: 10px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* all auctions page */
.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: 200px;
  grid-gap: 120px;
  justify-content: center;
  padding-top: 100px;
}

.item {
  display: flex;
  flex-direction: column;

  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.details {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.5em;
}

.image {
  border: 2px solid black;
  height: 250px;

  width: 250px;
}

.item h2 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px #ccc;
}

.item hr {
  width: 60%;
  margin: 20px auto;
  border: 1px solid #ccc;
}

.item .price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.item .bids {
  font-size: 14px;
  color: #ccc;
  margin-top: 10px;
}

.row {
  display: flex;
}

.camera {
  height: 100%;
  width: 100%;
  border: none;
}

/* about page */

.container1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* align-items: center;
  height: 100vh;
  padding-inline: 10vh;
  padding-block: 5vh; */
}

.top-panel {
  flex: 50;
}

.bottom-panel {
  flex: 50;

  background-color: rgb(65, 65, 65);
}

.auction-experience {
  width: 500px;
  padding: 20px;
  background-color: #f2f2f2;

  position: absolute;
  top: 180px;
  left: 450px;
}

.grey-square {
  width: 200px;
  height: 130%;
  padding: 20px;
  background-color: #f2f2f2;

  position: absolute;
  top: 80px;
  right: -400px;
  background-color: lightgrey;
}

.auction-experience h2 {
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
}

@media only screen and (max-width: 500px) {
  .auction-experience h2 {
    font-size: 16px;
    line-height: 30px;
  }
}

h3.about-us {
  text-align: center;
  color: darkgray;
  font-size: 14px;
}

.mission {
  width: 400px;
  padding: 20px;
  color: white;

  position: absolute;
  bottom: 180px;
  left: 450px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 130%;
}

/* auction details */

.container-1 {
  display: flex;

  height: 100vh;
  padding-inline: 10vh;
  padding-block: 5vh;
}

.left-panel {
  width: 40%;
}

.right-panel {
  width: 60%;
}

.images {
  height: 70%;
}

.main-image {
  height: 75%;
  background-color: lightgrey;
}

.secondary-images {
  display: flex;
  gap: 1rem;
  height: 25%;
  padding-top: 1rem;
}

.secondary-images > div {
  background-color: lightgrey;
  width: 25%;
  height: 100%;
}

.product-info {
  padding-top: 1rem;
}

.right-panel {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}

.red {
  color: red;
}

.update-button {
  background-color: darkorange;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.delete-button {
  background-color: #fff;
  color: darkorange;
  border: 2px solid darkorange;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.delete-listing {
  background-color: #fff;
  color: darkorange;
  border: 2px solid darkorange;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.price-input {
  width: 80px;
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: right;
}

td,
th {
  padding-top: 1rem;
  text-align: center;
}

/*  */

.header {
  background-color: #333;
  color: white;
  padding: 2px;
  text-align: left;
  padding-left: 80px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

.header h1 {
  display: inline-block;
  margin-right: 150px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  padding: 10px;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

#mini-page-container .mini-page-content .cancel-button {
  background-color: #fff;
  color: darkorange;
  border: 1px solid orange;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;
}

#mini-page-container .mini-page-content .confirm-button {
  background-color: darkorange;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-left: 5%;
  padding: 15px;
}

#mini-page-container .mini-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#mini-page-container .mini-page-content {
  background-color: #fff;
  padding: 20px;
  width: 420px;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  color: rgba(128, 128, 128, 0.804);
  font-weight: 100;
}

#mini-page-container .mini-page-content .delete-heading {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
}

.deleted-text {
  color: red;
}

/* 
 /* my BIDS page */

.h3 {
  font-size: 4em;
  color: red;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #eee; /* Add a light grey border */
}

th,
td {
  border: none;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f8c291;
  color: #fff;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5b7b1;
}

/* newUSER page */

.password-requirements {
  position: absolute;
  top: 0;
  right: 0;
  color: #888;
}
.password-requirements h4 {
  margin-right: 20px;
}

.p {
  text-align: right;
}

.Welcome-to-eAuction {
  width: 355px;
  height: 38px;
  margin: 80px 181px 60px 300px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  text-align: right;
}
.Welcome-to-eAuction .text-style-1 {
  font-weight: bold;
  color: #eb6440;
}
.Welcome-to-eAuction .text-style-2 {
  font-weight: bold;
}

.Please-put-the-correct-email-and-password-below-to-enter-your-account {
  width: 331px;
  height: 34px;
  flex-grow: 0;

  margin: 0 14px 25px 350px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #777;
}

.Rectangle-52,
.Rectangle-33 {
  width: 345px;
  height: 50px;
  flex-grow: 0;
  margin: 25px 0 0 330px;
  padding: 17px 244px 18px 32px;
  border-radius: 5px;
  background-color: #ebf1f8;
  padding: 0 0 0px;
}

.login-button {
  width: 345px;
  height: 50px;
  flex-grow: 0;
  margin: 60px 208px 24px 330px;
  padding: 15px 151px 16px;
  border-radius: 5px;
  background-color: #eb6440;
  border: none;
  color: white;
  font-size: 20px;
  text-align: center;
}

input[type="full-name"] {
  width: 100%;
  height: 100%;
  font-size: 18px;

  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
  outline: none;
  font-family: "Comic Sans MS", cursive, sans-serif;

  text-align: center;
  border: none;
}

input[type="email"] {
  width: 100%;
  height: 100%;
  font-size: 18px;

  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
  outline: none;
  font-family: "Comic Sans MS", cursive, sans-serif;

  text-align: center;
  border: none;
}

input[type="password"] {
  width: 100%;
  height: 100%;
  font-size: 18px;

  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
  outline: none;
  font-family: "Comic Sans MS", cursive, sans-serif;

  text-align: center;
  border: none;
}

.Not-a-member-Join-now {
  width: 242px;
  height: 16px;
  margin: 25px 255px 118px 380px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.Not-a-member-Join-now .text-style-1 {
  font-weight: bold;
  color: #fe724d;
}
.Not-a-member-Join-now .text-style-2 {
  font-weight: bold;
  color: #4f4e4e;
}

.container-5 {
  display: flex;
  /* justify-content: center; */
  /* border: 1px solid black; */
  /* align-items: center; */
  height: 100vh;
  padding-inline: 10vh;
  padding-block: 5vh;
}

.left-panel {
  width: 40%;
}

.right-panel {
  width: 60%;
}

.images {
  height: 70%;
}

.main-image {
  height: 75%;
  background-color: lightgrey;
}

.secondary-images {
  display: flex;
  gap: 1rem;
  height: 25%;
  padding-top: 1rem;
}

.secondary-images > div {
  background-color: lightgrey;
  width: 25%;
  height: 100%;
}

.product-info {
  padding-top: 1rem;
}

.right-panel {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  position: relative;
}

.red {
  color: red;
}

.price-input {
  width: 80px;
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: right;
}

td,
th {
  padding-top: 1rem;
  text-align: center;
}

/* WHAT DO YOU WANT TO SELL PAGE LISTING */

h4 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}

.big-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sell-upload {
  width: 450px;
  height: 300px;
  border: 2px dotted darkgrey;
  padding: 5%;

  justify-content: center;
}

.sell-upload-text {
  text-align: center;
}

.small-upload {
  display: flex;
}

.square-upload {
  border: 2px solid black;
  width: 100px;
  height: 50px;
  border: 2px dotted darkgrey;
  padding: 5%;
}

.title-container {
  text-align: left;
}
/* 
.Rectangle-52,
.Rectangle-33 {
  width: 345px;
  height: 50px;
  flex-grow: 0;
  margin: 25px 0 0 330px;
  padding: 17px 244px 18px 32px;
  border-radius: 5px;
  background-color: #ebf1f8;
  padding: 0 0 0px;
} */

input[type="title"] {
  width: 50%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
  outline: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  border: none;
}

.dropdown-menu {
  width: 50%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
  outline: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  border: none;
}

.description-field {
  width: 50%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
  outline: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  border: none;
}

.radio-group {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

input[type="radio"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid gray;
  appearance: none;
  -webkit-appearance: none;
}

input[type="radio"]:checked {
  background-color: darkblue;
}

label {
  font-size: 14px;
}

.subsubheading {
  font-size: 14px;
}

.duration {
  width: 20%;
  height: 80%;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
  outline: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  border: none;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  font-size: 16px;
  box-sizing: border-box;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.Rectangle-34 {
  background-color: orange;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
  margin: 20px;
}

.big-box {
  justify-content: center;
}
.Rectangle-66 {
  margin-left: 600px;
}
