{% extends 'base.html' %} {% block content %}

<div class="container-5">
  <div class="left-panel">
    <div class="images">
      <div class="main-image">
        <img src="/static/images/people.jpeg" width="650" alt="" />
      </div>
    </div>
  </div>
  <div class="right-panel">
    <span class="Welcome-to-eAuction">
      Welcome to
      <span class="text-style-1">e</span
      ><span class="text-style-2">Auctions</span>
    </span>
    <div
      class="Please-put-the-correct-email-and-password-below-to-enter-your-account"
    >
      Please put the correct email and password below to enter your account:
    </div>
    <!-- <form method="POST" action="{% url 'login' %}">
      {% csrf_token %} {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn">Log In</button>
    </form> -->

    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <!-- <h5>Username:</h5> -->
      <div class="Rectangle-52">{{ form.username }}</div>
      <!-- <h5>Password:</h5> -->
      <div class="Rectangle-52">{{ form.password }}</div>
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="login1-button">
        <button type="submit" class="button-unique">Log In</button>
      </div>
    </form>

    <span class="Not-a-member-Join-now">
      Not a member?
      <a href="{% url 'signup' %}" class="text-style-1">Join now</a>
      <span class="text-style-2"></span>
    </span>
  </div>
</div>

{% endblock %}
