<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="about.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="header">
      <h1>eAuction</h1>
      <h1>About</h1>
      <h1>All Auction Items</h1>
      <h1>My Bids</h1>
      <h1>Login</h1>
    </div>
    <div class="container">
      <div class="top-panel">
        <div class="auction-experience">
          <div class="grey-square"></div>
          <h3 class="about-us"><strong>ABOUT US</strong></h3>
          <h2>
            We provide seamless and secure auctioning experiences for our users,
            where they can bid on items with confidence.
          </h2>
        </div>
      </div>
      <div class="about-us"></div>
      <div class="bottom-panel">
        <div class="mission">
          Our mission is to create a platform that empowers individuals to buy
          goods in a fair and efficient manner. Our goal is to become the
          leading online marketplace for auctioning, where the power of
          technology meets the tradition of bargaining. We beleive that everyone
          should have access to the opportunities and ecite of buying at
          auction, and it is our mission to make that a reality for all.
        </div>
      </div>
    </div>
  </body>
</html>
