{% extends 'base.html' %} {% block content %}

<img
  src="https://i.imgur.com/CHFkaH2.png"
  alt="about us"
  class="about-us"
  id="about-us-id"
/>
<div class="mission">
  <h2 id="mission_head">Our Mission</h2>
  <br /><br />
  <p id="mission_body">
    Our mission is to create a platform that empowers individuals to buy goods
    in a fair and efficient manner. Our goal is to become the leading online
    marketplace for auctioning, where the power of technology meets the
    tradition of bargaining. We believe that everyone should have access to the
    opportunities and excitement of buying at auctions, and it is our mission to
    make that a reality for all.
  </p>
</div>

{% endblock %}
