<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="allauctions.css" />
    <link rel="stylesheet" type="text/css" href="reset.css" />
  </head>
  <body>
    <div class="Desktop---1">
    <div class="header">
      <span class="eAuction">
        <span class="text-style-1">e</span>Auction
      </span>
      <span class="About">
        About
      </span>
      
      <span class="All-Auction-Items">
        All Auction Items
      </span>
      <span class="Sell">
        Sell
      </span>
      <span class="Login">
        Login
      </span>
    </div>

    <div class="container">
      <div class="item">
        <div class="image"> <img class="camera" src="/images/cash.jpg" alt="" /></div>
        <div class="details">
          <h3>Johnny Cash & June Carter SIGNED Black Book</h3>
          <p>$589.90</p>
          <div class="row">
            <p>Bids: 0</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Time Left: 6d 23h</p>
          </div>
        </div>
      </div>
      
      <div class="item">
        <div class="image"> <img class="camera" src="/images/canon.png" alt="" /></div>
        <div class="details">
          <h3>Canon EOS Rebel SL3 DSLR Camera with 18-55mm Lens</h3>
          <p>$461.89</p>
          <div class="row">
            <p>Bids: 7</p>
            <p>Time Left: 3h</p>
          </div>
        </div>
      </div>
      
      <div class="item">
        <div class="image"> <img class="camera" src="/images/guitar.jpeg" alt="" /></div>
        <div class="details">
          <h3>Fender Acoustic Guitar</h3>
          <p>$220.00</p>
          <div class="row">
            <p>Bids: 57</p>
            <p>Time Left: 23min</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image"> <img class="camera" src="/images/harrypotter.jpeg" alt="" /></div>
        <div class="details">
          <h3>Vintage Harry Potter Cover Art 7 Book Set Hardcover</h3>
          <p>$250.90</p>
          <div class="row">
            <p>Bids: 211</p>
            <p>Time Left: 3h</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image"> <img class="camera" src="/images/mercer.jpeg" alt="" /></div>
        <div class="details">
          <h3>Mercer Small Woven Faux Leather</h3>
          <p>$120.00</p>
          <div class="row">
            <p>Bids: 131</p>
            <p>Time Left: 11d 2h</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image"> <img class="camera" src="/images/ps2.jpeg" alt="" /></div>
        <div class="details">
          <h3>SONY Playstation 2 Console 2 OEM Dualshock Controllers</h3>
          <p>$105.00</p>
          <div class="row">
            <p>Bids: 14</p>
            <p>Time Left: 2d 3h</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image"> <img class="camera" src="/images/ring.jpeg" alt="" /></div>
        <div class="details">
          <h3>Monica Vinader 18kt Gold Siren Medium Stacking Ring</h3>
          <p>$589.89</p>
          <div class="row">
            <p>Bids: 7</p>
            <p>Time Left: 3h</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image"> <img class="camera" src="/images/teddybear.jpeg" alt="" /></div>
        <div class="details">
          <h3>Vintage Teddy Bear - 1899 Grandmother Treasure</h3>
          <p>$23.20</p>
          <div class="row">
            <p>Bids: 2</p>
            <p>Time Left: 4h</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image"> <img class="camera" src="/images/transformers.jpeg" alt="" /></div>
        <div class="details">
          <h3>Transformers Toy Used But Good Condition</h3>
          <p>$10.89</p>
          <div class="row">
            <p>Bids: 0</p>
            <p>Time Left: 3h</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image"> <img class="camera" src="/images/turtles.jpeg" alt="" /></div>
        <div class="details">
          <h3>Teenage Mutant Ninja Turtles Trading Card</h3>
          <p>$46.90</p>
          <div class="row">
            <p>Bids: 14</p>
            <p>Time Left: 1d 3h</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image"> <img class="camera" src="/images/watch.jpeg" alt="" /></div>
        <div class="details">
          <h3>Men's EFR-529D-1A9VCF Edifice Steel Watch</h3>
          <p>$367.10</p>
          <div class="row">
            <p>Bids: 23</p>
            <p>Time Left: 17h</p>
          </div>
        </div>
      </div>
      <div class="item">Flex item 12</div>
      <div class="item">Flex item 13</div>
      <div class="item">Flex item 14</div>
      <div class="item">Flex item 15</div>
      <div class="item">Flex item 16</div>
    </div>
   
   
    </div>
  </div>
  </body>
</html>
