<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="auctiondetails.css" />
  </head>
  <body>
    <div class="header">
      <h1>eAuction</h1>
      <h1>About</h1>
      <h1>All Auction Items</h1>
      <h1>My Bids</h1>
      <h1>Login</h1>
    </div>
    <div class="container">
      <div class="left-panel">
        <div class="images">
          <div class="main-image"></div>
          <div class="secondary-images">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="product-info">
          <h3>Product Information</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex culpa
            molestiae aliquid. Quos, accusamus? Doloribus iusto dolor aliquam
            laborum officiis?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ex culpa molestiae aliquid. Quos, accusamus? Doloribus iusto
            dolor aliquam laborum officiis?Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Ex culpa molestiae aliquid. Quos,
            accusamus? Doloribus iusto dolor aliquam laborum officiis?
          </p>
          <p><strong>Condition</strong>: Open Box</p>
          <p><strong>Item Category</strong>: Electronics</p>
        </div>
      </div>
      <div class="right-panel">
        <h1>
          Canon EOS Rebel T7 18-55mm DC ||| Kit with Full HD Video Wi-Fi and NFC
          Kit
        </h1>
        <h2>Time left: <span class="red">03:23:22</span> | Bids: 8</h2>
        <h2>
          Current Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          $485.00
        </h2>
        <h2>
          My
          Bid:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text"
            value="$0.00"
            class="price-input"
          />
        </h2>
        <button type="button" class="update-button">Place My Bid</button>
        <button type="button" class="delete-button">Delete My Bid</button>
        <table>
          <tr>
            <th>Bidder</th>
            <th>Bid Amount</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>John Doe</td>
            <td>$500.00</td>
            <td>01/03/2023</td>
          </tr>
          <tr>
            <td>Jane Doe</td>
            <td>$450.00</td>
            <td>01/02/2023</td>
          </tr>
          <tr>
            <td>Bobby Ganoush</td>
            <td>$400.00</td>
            <td>01/01/2023</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
