{% extends 'base.html' %} {% block content %} {% for auction in auctions %}
<div class="container">
  <div class="item">
    <div class="image">
      {% for photo in auction.photo_set.all %}
      <img class="camera" id="images" src="{{photo.url}}" alt="Auction Photo" />
      {% empty %}
      <div class="camera">No Photos Uploaded</div>
      {% endfor %}
    </div>
    <div class="details">
      <h3><a href="{% url 'detail' auction.id %}">{{ auction.title }}</a></h3>
      <p>$ {{ auction.starting_price }}</p>
      <div class="row">
        <p>Bids: {{auction.bid_set.all|length}}&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p id="countdown"></p>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
