<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <div class="header">
      <h1>eAuction</h1>
      <h1>About</h1>
      <h1>All Auction Items</h1>
      <h1>My Bids</h1>
      <h1>Login</h1>
    </div>

    <div class="container">
      <div class="item">Flex Item 1</div>
      <div class="item">Flex item 2</div>
      <div class="item">Flex item 3</div>
      <div class="item">Flex item 4</div>
      <div class="item">Flex item 5</div>
      <div class="item">Flex item 6</div>
    </div>
   
   
    </div>
  </body>
</html>
