<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="signin.css" />
  </head>
  <body>
    <div class="header">
      <h1>eAuction</h1>
      <h1>About</h1>
      <h1>All Auction Items</h1>
      <h1>My Bids</h1>
      <h1>Login</h1>
    </div>
    <div class="container">
      <div class="left-panel">
        <div class="images">
          <div class="main-image">
            <img src="/images/people.jpeg" width="650" alt="" />
          </div>
        </div>
      </div>
      <div class="right-panel">
        <span class="Welcome-to-eAuction"> Create a new account </span>
        <div
          class="Please-put-the-correct-email-and-password-below-to-enter-your-account"
        >
          Please put your information below to create a new account:
        </div>
        <div class="Rectangle-52">
          <input type="email" id="email" name="email" placeholder="Full Name" />
        </div>

        <div class="Rectangle-52">
          <input type="email" id="email" name="email" placeholder="Email" />
        </div>
        <div class="Rectangle-33">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
        </div>

        <button type="button" class="login-button">Register</button>
        <div class="password-requirements">
          <p>• 8 characters min</p>
          <p>• One lowercase letter</p>
          <p>• One capital letter</p>
          <p>• One number</p>
        </div>

        <span class="Not-a-member-Join-now">
          Not a member?
          <span class="text-style-1">Join now</span>
          <span class="text-style-2"></span>
        </span>
      </div>
    </div>
  </body>
</html>
