<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="auctiondetails.css" />
  </head>
  <body>
    <div class="header">
      <h1>eAuction</h1>
      <h1>About</h1>
      <h1>All Auction Items</h1>
      <h1>My Bids</h1>
      <h1>Login</h1>
    </div>
    <div class="container">
      <div class="left-panel">
        <div class="images">
          <div class="main-image"></div>
          <div class="secondary-images">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="product-info">
          <h3>Product Information</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex culpa
            molestiae aliquid. Quos, accusamus? Doloribus iusto dolor aliquam
            laborum officiis?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ex culpa molestiae aliquid. Quos, accusamus? Doloribus iusto
            dolor aliquam laborum officiis?Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Ex culpa molestiae aliquid. Quos,
            accusamus? Doloribus iusto dolor aliquam laborum officiis?
          </p>
          <p><strong>Condition</strong>: Open Box</p>
          <p><strong>Item Category</strong>: Electronics</p>
        </div>
      </div>
      <div class="right-panel">
        <h1>
          Canon EOS Rebel T7 18-55mm DC ||| Kit with Full HD Video Wi-Fi and NFC
          Kit
        </h1>
        <h2>Time left: <span class="red">03:23:22</span> | Bids: 8</h2>
        <h2>
          Current Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          $485.00
        </h2>
        <h2>
          My
          Bid:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text"
            value="$0.00"
            class="price-input"
          />
        </h2>
        <button type="button" class="update-button">Place My Bid</button>
        <button type="button" class="delete-button" id="delete-bid">
          Delete My Bid
        </button>
        <button type="button" class="delete-listing" id="delete-listing">
          Delete My Listing
        </button>

        <div id="mini-page-container"></div>
        <div id="second-mini-page-container"></div>

        <table>
          <tr>
            <th>Bidder</th>
            <th>Bid Amount</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>John Doe</td>
            <td>$500.00</td>
            <td>01/03/2023</td>
          </tr>
          <tr>
            <td>Jane Doe</td>
            <td>$450.00</td>
            <td>01/02/2023</td>
          </tr>
          <tr>
            <td>Bobby Ganoush</td>
            <td>$400.00</td>
            <td>01/01/2023</td>
          </tr>
        </table>
      </div>
    </div>
    <script>
      var deleteButton = document.getElementById("delete-bid");
      var miniPageContainer = document.getElementById("mini-page-container");

      deleteButton.addEventListener("click", function () {
        var miniPageContent = document.createElement("div");
        miniPageContent.className = "mini-page";
        miniPageContent.innerHTML = `
    <div class="mini-page-content">
      <h3 class="delete-heading">Are you sure you want to delete your bid?</h3>
      <h5>Your bid will be permanently removed.</h5>
      <button type="button" class="cancel-button">Cancel</button>
      <button type="button" class="confirm-button">Confirm</button>
    </div>
  `;

        var cancelButton = miniPageContent.querySelector(".cancel-button");
        var confirmButton = miniPageContent.querySelector(".confirm-button");

        cancelButton.addEventListener("click", function () {
          miniPageContainer.style.display = "none";
        });

        confirmButton.addEventListener("click", function () {
          miniPageContainer.innerHTML =
            "<p><span class='deleted-text'>Your bid has been deleted.</span></p>";
        });

        miniPageContainer.innerHTML = "";
        miniPageContainer.appendChild(miniPageContent);
        miniPageContainer.style.display = "flex";
      });
    </script>
    <script>
      const deleteListingButton = document.getElementById("delete-listing");
      const miniPageContainers = document.getElementById(
        "second-mini-page-container"
      );

      deleteListingButton.addEventListener("click", function () {
        var miniPageContents = document.createElement("div");
        miniPageContents.className = "mini-page";
        miniPageContents.innerHTML = `
    <div class="mini-page-content">
      <h3 class="delete-heading">Are you sure you want to delete your listing?</h3>
      <h5>Your listing will be permanently removed.</h5>
      <button type="button" class="cancel-button">Cancel</button>
      <button type="button" class="confirm-button">Confirm</button>
    </div>
  `;

        var cancelButtons = miniPageContent.querySelector(".cancel-button");
        var confirmButtons = miniPageContent.querySelector(".confirm-button");

        cancelButtons.addEventListener("click", function () {
          miniPageContainer.style.display = "none";
        });

        confirmButtons.addEventListener("click", function () {
          miniPageContainer.innerHTML =
            "<p><span class='deleted-text'>Your listing has been deleted.</span></p>";
        });

        miniPageContainers.innerHTML = "";
        miniPageContainers.appendChild(miniPageContents);
        miniPageContainers.style.display = "flex";
      });
    </script>
  </body>
</html>
