{% extends 'base.html' %} {% block content %}

<div class="container-1">
  <div class="left-panel">
    <div class="images">
      <div class="main-image">
        {% for photo in auction.photo_set.all %}
        <img
          id="images"
          src="{{photo.url}}"
          alt="Auction Photo"
        />
        {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}
      </div>
      <!-- <div class="secondary-images">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div> -->
      <form
        action="{% url 'add_photo' auction.id %}"
        enctype="multipart/form-data"
        method="POST"
        class="card-panel"
      >
        {% csrf_token %}
        <input type="file" name="photo-file" />
        <br /><br />
        <button type="submit" class="btn">Upload Photo</button>
      </form>
    </div>
    <div class="product-info">
      <h3>Product Information</h3>
      <p>{{ auction.description }}</p>
      <p><strong>Condition</strong>: Open Box</p>
      <p><strong>Item Category</strong>: Electronics</p>
    </div>
  </div>
  <div class="right-panel">
    <h1>{{ auction.title }}</h1>
    <h2>
      Time left: <span id="countdown" class="red"></span> | Bids:
      {{bids|length}}
    </h2>
    <div class="card-action">
      <a href="{% url 'auctions_update' auction.id %}">Edit</a>
      <a href="{% url 'auctions_delete' auction.id %}">Delete</a>
    </div>
    <h2>
      Current Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ${{max_bid_amount}}
    </h2>
    <h2>
      Base Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ${{auction.starting_price}}
    </h2>
    <h2>
      My Bid:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <input
        type="text"
        value="$0.00"
        class="price-input"
      /> -->
      <form action="{% url 'add_bid' auction.id %}" method="POST">
        {% csrf_token %}
        <!-- Render the inputs -->
        {{ bid_form.as_p }}
        <input type="submit" class="btn" value="Place My Bid" />
      </form>
    </h2>
    <button type="button" class="update-button">Place My Bid</button>
    <button type="button" class="delete-button" id="delete-bid">
      Delete My Bid
    </button>
    <button type="button" class="delete-listing" id="delete-listing">
      Delete My Listing
    </button>

    <div id="mini-page-container"></div>
    <div id="second-mini-page-container"></div>

    <table>
      <tr>
        <th>Bid Amount</th>
        <th>Date Created</th>
        <th>User</th>
      </tr>
      {% for bid in bids %}
      <tr>
        <td>{{ bid.amount }}</td>
        <td>{{ bid.date_created }}</td>
        <td>{{ bid.user.username }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<script>
  var deleteButton = document.getElementById("delete-bid");
  var miniPageContainer = document.getElementById("mini-page-container");

  deleteButton.addEventListener("click", function () {
    var miniPageContent = document.createElement("div");
    miniPageContent.className = "mini-page";
    miniPageContent.innerHTML = `
    <div class="mini-page-content">
      <h3 class="delete-heading">Are you sure you want to delete your bid?</h3>
      <h5>Your bid will be permanently removed.</h5>
      <button type="button" class="cancel-button">Cancel</button>
      <button type="button" class="confirm-button">Confirm</button>
    </div>
  `;

    var cancelButton = miniPageContent.querySelector(".cancel-button");
    var confirmButton = miniPageContent.querySelector(".confirm-button");

    cancelButton.addEventListener("click", function () {
      miniPageContainer.style.display = "none";
    });

    confirmButton.addEventListener("click", function () {
      miniPageContainer.innerHTML =
        "<p><span class='deleted-text'>Your bid has been deleted.</span></p>";
    });

    miniPageContainer.innerHTML = "";
    miniPageContainer.appendChild(miniPageContent);
    miniPageContainer.style.display = "flex";
  });
</script>
<script>
  const deleteListingButton = document.getElementById("delete-listing");
  const miniPageContainers = document.getElementById(
    "second-mini-page-container"
  );

  deleteListingButton.addEventListener("click", function () {
    var miniPageContents = document.createElement("div");
    miniPageContents.className = "mini-page";
    miniPageContents.innerHTML = `
    <div class="mini-page-content">
      <h3 class="delete-heading">Are you sure you want to delete your listing?</h3>
      <h5>Your listing will be permanently removed.</h5>
      <button type="button" class="cancel-button">Cancel</button>
      <button type="button" class="confirm-button">Confirm</button>
    </div>
  `;

    var cancelButtons = miniPageContent.querySelector(".cancel-button");
    var confirmButtons = miniPageContent.querySelector(".confirm-button");

    cancelButtons.addEventListener("click", function () {
      miniPageContainer.style.display = "none";
    });

    confirmButtons.addEventListener("click", function () {
      miniPageContainer.innerHTML =
        "<p><span class='deleted-text'>Your listing has been deleted.</span></p>";
    });

    miniPageContainers.innerHTML = "";
    miniPageContainers.appendChild(miniPageContents);
    miniPageContainers.style.display = "flex";
  });
</script>
<script>
  function updateCountdown() {
    var now = new Date();
    var end_date = new Date('{{ auction.end_date|date:"Y-m-d H:i:s" }}');
    var time_remaining = end_date - now;
    var seconds_remaining = Math.floor(time_remaining / 1000);

    if (seconds_remaining < 0) {
      document.getElementById("countdown").innerHTML = "Auction has ended.";
    } else {
      var days = Math.floor(seconds_remaining / (3600 * 24));
      var hours = Math.floor((seconds_remaining % (3600 * 24)) / 3600);
      var minutes = Math.floor((seconds_remaining % 3600) / 60);
      var seconds = seconds_remaining % 60;
      var countdown =
        days +
        " days " +
        hours +
        " hrs " +
        minutes +
        "min " +
        seconds +
        "s";
      document.getElementById("countdown").innerHTML = countdown;
    }
  }

  setInterval(updateCountdown, 1000);
</script>
{% endblock %}
