{% extends 'base.html' %} {% block content %} {% for auction in auctions %}
<div class="container">
  <div class="item">
    <div class="image">
      {% for photo in auction.photo_set.all %}
      <img class="camera" id="images" src="{{photo.url}}" alt="Auction Photo" />
      {% empty %}
      <div class="camera">No Photos Uploaded</div>
      {% endfor %}
    </div>
    <div class="details">
      <h3>{{ auction.title }}</h3>
      <p>{{ auction.starting_price }}</p>
      <div class="row">
        <p>Bids: 0</p>
        <p>Time Left: 6d 23h</p>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
